#### Tutorial - 12 Python Pandas working with HTML Tutorials - Part4

###### In this part we are going to learn

###### 1. read HTML(read_html)
###### 2. To HTML (to_html)

In [3]:
import pandas as pd

In [7]:
html = pd.read_html("https://en.wikipedia.org/wiki/Mobile_country_code")

In [9]:
type(html)

list

In [11]:
html

[   MCC  MNC Brand      Operator       Status Bands (MHz)  \
 0    1    1  TEST  Test network  Operational         any
 1    1    1  TEST  Test network  Operational         any
 2  999   99   NaN  Internal use  Operational         any
 3  999  999   NaN  Internal use  Operational         any

                               References and notes
 0                                              NaN
 1                                              NaN
 2  Internal use in private networks, no roaming[6]
 3  Internal use in private networks, no roaming[6]  ,
      Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns],
      MCC  MNC     Brand                  Operator           Status  \
 0    901    1       NaN                   Webbing          Unknown
 1    901    2       NaN            GlobalmatiX AG          Unknown
 2    901    3   Iridium                       NaN      Operational
 3    901    4       NaN  BBIX Singapore Pte. Ltd.          Unknown
 4    901    5       NaN      Thuraya RMSS Network      Operational
 ..   ...  ...       ...                       ...              ...
 99   902    1       NaN        MulteFire Alliance      Operational
 100  991    1       NaN    World's Global Telecom  Not operational
 101  991    2  5G Croco               Orange S.A.  Not operational
 102  991    3       NaN                 Halys SAS  Not operational
 103  991    4       NaN              E-Space Inc.          Unknown

     Bands (MHz)                               References and notes
 0          MVNO            Former ICO Satellite Management[51][52]
 1       Unknown  Former Sense Communications International; veh...
 2     Satellite                                                NaN
 3       Unknown                              Former Globalstar[54]
 4     Satellite                                                NaN
 ..          ...                                                ...
 99          LTE                                           [6][123]
 100     Unknown  temporarily assigned until 15 January 2021[102...
 101          5G  temporarily assigned until 6 August 2022[125][...
 102     Unknown  temporary assignment for trial until 5 April 2...
 103   Satellite  temporary assignment for trial until 17 Oct 20...

 [104 rows x 7 columns],
    MCC  MNC     Brand                 Operator       Status Bands (MHz)  \
 0  995    1  FonePlus  Sure (Diego Garcia) Ltd  Operational     GSM 900

                                 References and notes
 0  There appears to be no officially assigned MCC...  ,
                                vteTelecommunications  \
 0                                            History
 1                                           Pioneers
 2                                 Transmission media
 3                     Network topology and switching
 4                                       Multiplexing
 5                                           Concepts
 6                                   Types of network
 7                                   Notable networks
 8                                          Locations
 9  Telecommunication portal  Category  Outline  C...

                              vteTelecommunications.1
 0  Beacon Broadcasting Cable protection system Ca...
 1  Nasir Ahmed Edwin Howard Armstrong Mohamed M. ...
 2  Coaxial cable Fiber-optic communication optica...
 3  Bandwidth Links Nodes terminal Network switchi...
 4  Space-division Frequency-division Time-divisio...
 5  Communication protocol Computer network Data t...
 6  Cellular network Ethernet ISDN LAN Mobile NGN ...
 7  ARPANET BITNET CYCLADES FidoNet Internet Inter...
 8  Africa Americas North South Antarctica Asia Eu...
 9  Telecommunication portal  Category  Outline  C...  ]

In [13]:
html[0]

,MCC,MNC,Brand,Operator,Status,Bands (MHz),References and notes
0,1,1,TEST,Test network,Operational,any,NaN
1,1,1,TEST,Test network,Operational,any,NaN
2,999,99,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"
3,999,999,NaN,Internal use,Operational,any,"Internal use in private networks, no roaming[6]"

In [15]:
html[1]

,Mobile country code,Country,ISO 3166,Mobile network codes,National MNC authority,Remarks
0,289,A Abkhazia,GE-AB,List of mobile network codes in Abkhazia,NaN,MCC is not listed by ITU
1,412,Afghanistan,AF,List of mobile network codes in Afghanistan,NaN,NaN
2,276,Albania,AL,List of mobile network codes in Albania,NaN,NaN
3,603,Algeria,DZ,List of mobile network codes in Algeria,NaN,NaN
4,544,American Samoa (United States of America),AS,List of mobile network codes in American Samoa,NaN,NaN
...,...,...,...,...,...,...
247,452,Vietnam,VN,List of mobile network codes in the Vietnam,NaN,NaN
248,543,W Wallis and Futuna,WF,List of mobile network codes in Wallis and Futuna,NaN,NaN
249,421,Y Yemen,YE,List of mobile network codes in the Yemen,NaN,NaN
250,645,Z Zambia,ZM,List of mobile network codes in Zambia,NaN,NaN
251,648,Zimbabwe,ZW,List of mobile network codes in Zimbabwe,NaN,NaN

In [17]:
type(html[1])

pandas.core.frame.DataFrame

In [25]:
html = pd.read_html("https://en.wikipedia.org/wiki/Economy_of_the_United_States", match = "Government debt")

In [27]:
html

[                                                    0  \
 0   New York City, the world's principal fintech a...
 1                                            Currency
 2                                         Fiscal year
 3                                 Trade organizations
 4                                       Country group
 5                                          Statistics
 6                                          Population
 7                                                 GDP
 8                                            GDP rank
 9                                          GDP growth
 10                                     GDP per capita
 11                                GDP per capita rank
 12                                      GDP by sector
 13                                   GDP by component
 14                                    Inflation (CPI)
 15                      Population below poverty line
 16                                   Gini coefficient
 17                            Human Development Index
 18                       Corruption Perceptions Index
 19                                        Labor force
 20                          Labor force by occupation
 21                                       Unemployment
 22                               Average gross salary
 23                                 Average net salary
 24                      Final consumption expenditure
 25                            Gross capital formation
 26                                        Yield curve
 27                         Purchasing Managers' Index
 28                                    Main industries
 29                                           External
 30                                            Exports
 31                                       Export goods
 32                               Main export partners
 33                                            Imports
 34                                       Import goods
 35                               Main import partners
 36                                          FDI stock
 37                                    Current account
 38                                Gross external debt
 39                                    Public finances
 40                                    Government debt
 41                                     Budget balance
 42                                           Revenues
 43                                           Expenses
 44                                       Economic aid
 45                                      Credit rating
 46                                   Foreign reserves
 47  All values, unless otherwise stated, are in US...

                                                     1
 0   New York City, the world's principal fintech a...
 1   United States dollar (Sign: $; Code: USD) US D...
 2                            October 1 – September 30
 3         WTO, G-20, G7, OECD, USMCA, APEC and others
 4   Advanced economy[5] High-income economy[6] Wel...
 5                                          Statistics
 6                    341,145,500 (January 1, 2025)[9]
 7   $29.167 trillion (nominal; 2024)[10]  $29.167 ...
 8                 1st (nominal; 2024) 2nd (PPP; 2024)
 9   2.5% (2022)[11] 2.9% (2023)[11] 2.8% (2024f)[1...
 10  $82,715 (nominal; 2023)[10]  $82,715 (PPP; 202...
 11                6th (nominal; 2024) 9th (PPP; 2024)
 12  Agriculture: 0.9% Industry: 18.9% Services: 80...
 13  Household consumption: 67.9% Government consum...
 14                                    2.9% (2024)[14]
 15          11.1% (2023)[15]  36.8 million (2023)[15]
 16  39.4 medium (2023, OECD)[16] 46.7 high (2022, ...
 17  0.927 very high (2022)[19] (20th)  0.823 very ...
 18        69 out of 100 points (2023)[20] (rank 24th)
 19  168,110,083 (2024)[21] 62.6% employment rate (...
 20  Agriculture: 1.0% Industry: 19% Services: 80% ...
 21  4.1% (December 2024)[21]  12.4% youth unemploy...
 22                         $5,605, monthly[23] (2023)
 23                         $4,246, monthly[23] (2023)
 24                            85.2% of GDP (2023)[13]
 25                            17.7% of GDP (2023)[13]
 26                10-year bond 5.09% (April 2024)[24]
 27  50.3 Manufacturing (Mar 2024)[25]  51.4 Servic...
 28  High-technologypetroleumsteelmotor vehiclesaer...
 29                                           External
 30                         $3.053 trillion (2023)[26]
 31  Agricultural products 10.7%Fuels and mining pr...
 32  European Union(-) 18.3% Canada(-) 17.5% Mexico...
 33                         $3.827 trillion (2023)[26]
 34  Agricultural products 10.5%Fuels and mining pr...
 35  European Union(+) 23.6% Mexico(+) 15.4% China(...
 36  Inward: $367 billion (2021)[30]  Outward: $403...
 37  −$948.64 billion (2024)[31]  −3.25% of GDP (20...
 38                            $27 trillion (2023)[32]
 39                                    Public finances
 40           $35.294 trillion  121% of GDP (2024)[31]
 41                            –6.3% of GDP (2023)[33]
 42            $8.720 trillion[31] 29.9% of GDP (2024)
 43  $10.945 trillion[31] 37.5% of GDP (2024) Gover...
 44              donor: ODA, $35.26 billion (2017)[34]
 45  Standard & Poor's:[35][36] AA+ (Domestic) AA+ ...
 46                            $250 billion (2024)[40]
 47  All values, unless otherwise stated, are in US...  ,
     Year  GDP (in bn. US$PPP)  GDP per capita (in US$ PPP)  \
 0   1980               2857.3                      12552.9
 1   1981               3207.0                      13948.7
 2   1982               3343.8                      14405.0
 3   1983               3634.0                      15513.7
 4   1984               4037.7                      17086.4
 5   1985               4339.0                      18199.3
 6   1986               4579.6                      19034.8
 7   1987               4855.3                      20001.0
 8   1988               5236.4                      21376.0
 9   1989               5641.6                      22814.1
 10  1990               5963.1                      23848.0
 11  1991               6158.1                      24302.8
 12  1992               6520.3                      25392.9
 13  1993               6858.6                      26364.2
 14  1994               7287.3                      27674.0
 15  1995               7639.8                      28671.5
 16  1996               8073.1                      29947.0
 17  1997               8577.6                      31440.1
 18  1998               9062.8                      32833.7
 19  1999               9631.2                      34496.2
 20  2000              10251.0                      36312.8
 21  2001              10581.9                      37101.5
 22  2002              10929.1                      37945.8
 23  2003              11456.5                      39405.4
 24  2004              12217.2                      41641.6
 25  2005              13039.2                      44034.3
 26  2006              13815.6                      46216.9
 27  2007              14474.3                      47943.4
 28  2008              14769.9                      48470.6
 29  2009              14478.1                      47102.4
 30  2010              15049.0                      48586.3
 31  2011              15599.7                      50008.1
 32  2012              16254.0                      51736.7
 33  2013              16880.6                      53363.9
 34  2014              17608.1                      55263.8
 35  2015              18295.0                      57006.9
 36  2016              18804.9                      58179.6
 37  2017              19612.1                      60292.9
 38  2018              20656.5                      63165.2
 39  2019              21539.9                      65561.3
 40  2020              21354.1                      64461.6
 41  2021              23681.1                      71257.9
 42  2022              26006.9                      77979.8
 43  2023              27720.7                      82715.1
 44  2024              29167.7                      86601.2
 45  2025              30337.1                      89677.8
 46  2026              31526.9                      92785.8
 47  2027              32786.7                      96070.1
 48  2028              34096.0                      99467.8
 49  2029              35457.9                     102987.0

     GDP (in bn. US$nominal)  GDP per capita (in US$ nominal)  \
 0                    2857.3                          12552.9
 1                    3207.0                          13948.7
 2                    3343.8                          14405.0
 3                    3634.0                          15513.7
 4                    4037.7                          17086.4
 5                    4339.0                          18199.3
 6                    4579.6                          19034.8
 7                    4855.3                          20001.0
 8                    5236.4                          21376.0
 9                    5641.6                          22814.1
 10                   5963.1                          23848.0
 11                   6158.1                          24302.8
 12                   6520.3                          25392.9
 13                   6858.6                          26364.2
 14                   7287.3                          27674.0
 15                   7639.8                          28671.5
 16                   8073.1                          29947.0
 17                   8577.6                          31440.1
 18                   9062.8                          32833.7
 19                   9631.2                          34496.2
 20                  10251.0                          36312.8
 21                  10581.9                          37101.5
 22                  10929.1                          37945.8
 23                  11456.5                          39405.4
 24                  12217.2                          41641.6
 25                  13039.2                          44034.3
 26                  13815.6                          46216.9
 27                  14474.3                          47943.4
 28                  14769.9                          48470.6
 29                  14478.1                          47102.4
 30                  15049.0                          48586.3
 31                  15599.7                          50008.1
 32                  16254.0                          51736.7
 33                  16880.6                          53363.9
 34                  17608.1                          55263.8
 35                  18295.0                          57006.9
 36                  18804.9                          58179.6
 37                  19612.1                          60292.9
 38                  20656.5                          63165.2
 39                  21539.9                          65561.3
 40                  21354.1                          64461.6
 41                  23681.1                          71257.9
 42                  26006.9                          77979.8
 43                  27720.7                          82715.1
 44                  29167.7                          86601.2
 45                  30337.1                          89677.8
 46                  31526.9                          92785.8
 47                  32786.7                          96070.1
 48                  34096.0                          99467.8
 49                  35457.9                         102987.0

    GDP growth (real) Inflation rate (in Percent) Unemployment (in Percent)  \
 0              -0.3%                       13.5%                      7.2%
 1               2.5%                       10.4%                      7.6%
 2              -1.8%                        6.2%                      9.7%
 3               4.6%                        3.2%                      9.6%
 4               7.2%                        4.4%                      7.5%
 5               4.2%                        3.5%                      7.2%
 6               3.5%                        1.9%                      7.0%
 7               3.5%                        3.6%                      6.2%
 8               4.2%                        4.1%                      5.5%
 9               3.7%                        4.8%                      5.3%
 10              1.9%                        5.4%                      5.6%
 11             -0.1%                        4.2%                      6.9%
 12              3.5%                        3.0%                      7.5%
 13              2.8%                        3.0%                      6.9%
 14              4.0%                        2.6%                      6.1%
 15              2.7%                        2.8%                      5.6%
 16              3.8%                        2.9%                      5.4%
 17              4.4%                        2.3%                      4.9%
 18              4.5%                        1.5%                      4.5%
 19              4.8%                        2.2%                      4.2%
 20              4.1%                        3.4%                      4.0%
 21              1.0%                        2.8%                      4.7%
 22              1.7%                        1.6%                      5.8%
 23              2.8%                        2.3%                      6.0%
 24              3.9%                        2.7%                      5.5%
 25              3.5%                        3.4%                      5.1%
 26              2.8%                        3.2%                      4.6%
 27              2.0%                        2.9%                      4.6%
 28              0.1%                        3.8%                      5.8%
 29             -2.6%                       -0.3%                      9.3%
 30              2.7%                        1.6%                      9.6%
 31              1.6%                        3.1%                      8.9%
 32              2.3%                        2.1%                      8.1%
 33              2.1%                        1.5%                      7.4%
 34              2.5%                        1.6%                      6.1%
 35              2.9%                        0.1%                      5.2%
 36              1.8%                        1.3%                      4.9%
 37              2.5%                        2.1%                      4.4%
 38              3.0%                        2.4%                      3.9%
 39              2.6%                        1.8%                      3.7%
 40             -2.2%                        1.2%                      8.1%
 41              6.1%                        4.7%                      5.4%
 42              2.5%                        8.0%                      3.6%
 43              2.9%                        4.1%                      3.6%
 44              2.8%                        2.9%                      4.1%
 45              2.2%                        1.9%                      4.4%
 46              2.0%                        2.1%                      4.3%
 47              2.1%                        2.1%                      4.2%
 48              2.1%                        2.1%                      4.0%
 49              2.1%                        2.1%                      4.0%

    Government debt (in % of GDP)
 0                            NaN
 1                            NaN
 2                            NaN
 3                            NaN
 4                            NaN
 5                            NaN
 6                            NaN
 7                            NaN
 8                            NaN
 9                            NaN
 10                           NaN
 11                           NaN
 12                           NaN
 13                           NaN
 14                           NaN
 15                           NaN
 16                           NaN
 17                           NaN
 18                           NaN
 19                           NaN
 20                           NaN
 21                         53.1%
 22                         55.5%
 23                         58.6%
 24                         66.2%
 25                         65.5%
 26                         64.2%
 27                         64.6%
 28                         73.5%
 29                         86.7%
 30                         95.2%
 31                         99.5%
 32                        103.1%
 33                        104.3%
 34                        104.2%
 35                        104.6%
 36                        106.5%
 37                        105.5%
 38                        106.8%
 39                          108%
 40                        131.8%
 41                        124.5%
 42                        118.6%
 43                        118.7%
 44                          121%
 45                        124.1%
 46                        126.6%
 47                        128.4%
 48                        130.2%
 49                        131.7%  ]

In [29]:
html[0]

,0,1
0,"New York City, the world's principal fintech a...","New York City, the world's principal fintech a..."
1,Currency,United States dollar (Sign: $; Code: USD) US D...
2,Fiscal year,October 1 – September 30
3,Trade organizations,"WTO, G-20, G7, OECD, USMCA, APEC and others"
4,Country group,Advanced economy[5] High-income economy[6] Wel...
5,Statistics,Statistics
6,Population,"341,145,500 (January 1, 2025)[9]"
7,GDP,$29.167 trillion (nominal; 2024)[10] $29.167 ...
8,GDP rank,1st (nominal; 2024) 2nd (PPP; 2024)
9,GDP growth,2.5% (2022)[11] 2.9% (2023)[11] 2.8% (2024f)[1...
10,GDP per capita,"$82,715 (nominal; 2023)[10] $82,715 (PPP; 202..."
11,GDP per capita rank,6th (nominal; 2024) 9th (PPP; 2024)
12,GDP by sector,Agriculture: 0.9% Industry: 18.9% Services: 80...
13,GDP by component,Household consumption: 67.9% Government consum...
14,Inflation (CPI),2.9% (2024)[14]
15,Population below poverty line,11.1% (2023)[15] 36.8 million (2023)[15]
16,Gini coefficient,"39.4 medium (2023, OECD)[16] 46.7 high (2022, ..."
17,Human Development Index,0.927 very high (2022)[19] (20th) 0.823 very ...
18,Corruption Perceptions Index,69 out of 100 points (2023)[20] (rank 24th)
19,Labor force,"168,110,083 (2024)[21] 62.6% employment rate (..."
20,Labor force by occupation,Agriculture: 1.0% Industry: 19% Services: 80% ...
21,Unemployment,4.1% (December 2024)[21] 12.4% youth unemploy...
22,Average gross salary,"$5,605, monthly[23] (2023)"
23,Average net salary,"$4,246, monthly[23] (2023)"
24,Final consumption expenditure,85.2% of GDP (2023)[13]
25,Gross capital formation,17.7% of GDP (2023)[13]
26,Yield curve,10-year bond 5.09% (April 2024)[24]
27,Purchasing Managers' Index,50.3 Manufacturing (Mar 2024)[25] 51.4 Servic...
28,Main industries,High-technologypetroleumsteelmotor vehiclesaer...
29,External,External
30,Exports,$3.053 trillion (2023)[26]
31,Export goods,Agricultural products 10.7%Fuels and mining pr...
32,Main export partners,European Union(-) 18.3% Canada(-) 17.5% Mexico...
33,Imports,$3.827 trillion (2023)[26]
34,Import goods,Agricultural products 10.5%Fuels and mining pr...
35,Main import partners,European Union(+) 23.6% Mexico(+) 15.4% China(...
36,FDI stock,Inward: $367 billion (2021)[30] Outward: $403...
37,Current account,−$948.64 billion (2024)[31] −3.25% of GDP (20...
38,Gross external debt,$27 trillion (2023)[32]
39,Public finances,Public finances
40,Government debt,$35.294 trillion 121% of GDP (2024)[31]
41,Budget balance,–6.3% of GDP (2023)[33]
42,Revenues,$8.720 trillion[31] 29.9% of GDP (2024)
43,Expenses,$10.945 trillion[31] 37.5% of GDP (2024) Gover...
44,Economic aid,"donor: ODA, $35.26 billion (2017)[34]"
45,Credit rating,Standard & Poor's:[35][36] AA+ (Domestic) AA+ ...
46,Foreign reserves,$250 billion (2024)[40]
47,"All values, unless otherwise stated, are in US...","All values, unless otherwise stated, are in US..."

In [31]:
html = pd.read_html("https://en.wikipedia.org/wiki/Minnesota", match = "Average daily maximum and minimum temperatures for selected cities in Minnesota")

In [33]:
html

[              Location July (°F) July (°C) January (°F) January (°C)
 0          Minneapolis     83/64     28/18         23/7       −4/−13
 1           Saint Paul     83/63     28/17         23/6       −5/−14
 2            Rochester     82/63     28/17         23/3       −5/−16
 3               Duluth     76/55     24/13         19/1       −7/−17
 4            St. Cloud     81/58     27/14        18/−1       −7/−18
 5              Mankato     86/62     30/16         23/3       −5/−16
 6  International Falls     77/52     25/11        15/−6       −9/−21]

In [35]:
html[0]

              Location July (°F) July (°C) January (°F) January (°C)
0          Minneapolis     83/64     28/18         23/7       −4/−13
1           Saint Paul     83/63     28/17         23/6       −5/−14
2            Rochester     82/63     28/17         23/3       −5/−16
3               Duluth     76/55     24/13         19/1       −7/−17
4            St. Cloud     81/58     27/14        18/−1       −7/−18
5              Mankato     86/62     30/16         23/3       −5/−16
6  International Falls     77/52     25/11        15/−6       −9/−21

In [39]:
type(html[0])

pandas.core.frame.DataFrame

In [41]:
html[0].to_html('demo.html')